zaqwsxedc.duckdns.org {
# localhost, devops-example.test {
	# tls internal

	handle /images/* {
		file_server
		root * /app/public
	}

	handle {
		# Caddy uses host networking in the local Compose override.
		reverse_proxy app:3000
		# reverse_proxy localhost:3000
	}

	log {
		# format single_field common_log
	}
}
